body {
    background-image: url(http://www-03.ibm.com/ibm/history/ibm100/images/icp/P402167Z36413B03/us__en_us__ibm100__fractals__linda_allison_dr_seuss__620x350.jpg);
    color: rgb(240,175,190);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}